body {
	margin: 0;
	padding: 0;

	background-color: rgb(74, 90, 22);
}

a {
	border: 2px solid rgb(211, 215, 197);

	margin-left: 20vw;
	margin-top: 20vh;

	display: inline-block;

	text-decoration: none;

	color: #fff;

	border-radius: 8px;

	font-family: Roboto;

	padding: 2.5vh 5vw;

	transition: background-color 1s linear;
	transition: padding 1s linear;
}

a:hover {
	background-color: red;

	transition: background-color 1s linear;
	transition: padding 1s linear;

	padding: 5vh 10vw;
}