			body {
		    	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",'Roboto-Thin', Helvetica, Segoe UI;

		    	background-color: #ecf0f1;
		    	color: #2c3e50;
		    	margin: 0;
		    }

		    @font-face {
		    	font-family:"Roboto-Thin";
		    	src: url("../Roboto/Roboto-Thin.ttf") /* EOT file for IE */
			}

			@font-face {
		    	font-family:"Roboto-Light";
		    	src: url("../Roboto/Roboto-Light.ttf") /* EOT file for IE */
			}

		    .center {
		    	margin-left: auto;
		    	margin-right: auto;
		    	display: block;
		    }

		    #hideAll {
			   position: fixed;
			   left: 0px; 
			   right: 0px; 
			   top: 0px; 
			   bottom: 0px; 
			   background-color: white;
			   z-index: 99; /* Higher than anything else in the document */
			 }

		    .head-title {
		    	width: 50vw;
		    	font-size: 8vw;
		    	text-align: center;

		    	outline: solid #2c3e50 1px;

		    	padding: 10px;
		    	padding-bottom: 20px;
		    }

		    .nav-container {
		    	width: 50vw;
		    	height: 10vh;

		    	margin-top: 20px;
		    }

		    .nav-item {
		    	width: 10vw;
		    	margin-left: 1.5vw;
		    	margin-right: 1vw;

		    	padding-top: 10px;
		    	padding-bottom: 10px; 
		    	float: left;

		    	font-size: 2vw;
		    	text-align: center;

		    	outline:1px #2c3e50 solid;

		    	font-family:"Roboto-Light";
		    	cursor: pointer;
		    }

		    .nav-item:hover {
		    	background-color: rgba(0,0,0,0.1);
		    }

		  	#section0 {
		  		height: 33vh;
		  		margin-top: 33vh;
		  		margin-bottom: 34vh;
		  	}

		  	h1 {
		  		font-size: 6em;
		  		color: #2c3e50;
		  		text-align: center;
		  		margin-top: 50vh;
		  		font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",'Roboto-Thin', Helvetica, Segoe UI;
		  		font-weight: lighter;
		  	}
		  	p{
				font-size: 2em;
			}

			#aboutPara {
				width: 50vw;
				margin-left: 25vw;
				overflow: visible;
			}

			.talent-box {
				padding: 5px;
				background-color: #2c3e50;
				color: #ecf0f1;
				text-decoration: none;

				border-radius: 10px;
				cursor: pointer;

				border: solid #ecf0f1 1px;

				margin-right: 5px;
			}

			.talent-box:hover {
		    	opacity: 0.9;
		    }

		    .project-cont {
		    	width: 64vw;
		    	margin-left: 18vw;
		    	margin-right: 18vw;

		    	//background-color: blue;
		    	overflow:auto;
		    }

		    .project-box {
		    	width: 15vw;
		    	height: 15vw;

		    	margin: .5vw;

		    	//background-color: red;
		    	display: block;
		    	float: left;

		    	outline: solid #2c3e50 1px;

		    	overflow: hidden;

		    	position: relative;
		    }

		    .empty-box {
		    	width: 15vw;
		    	height: 15vw;

		    	margin: .5vw;

		    	//background-color: red;
		    	display: block;
		    	float: left;

		    	

		    	overflow: hidden;

		    	position: relative;
		    }

		    .project-box:hover .project-slider{
		    	margin-top: 0px;
		    }

		    .project-image {
		    	width: 15vw;
		    	height: 15vw;

		    	position: absolute;
		    	 top: 0;
		    	 left: 0;
			    z-index: -1;

			    object-fit: cover;
		    }

		    .project-header {
		    	width: 15vw;
		    	height: 3vw;

		    	font-size: 1.8vw;
		    	text-align: center;

		    	margin: .5vw;
		    	line-height: 3vw;
		    	vertical-align: middle;
		    	
		    	display: block;
		    	float: left;

		    	outline: solid #2c3e50 1px;

		    	overflow: hidden;

		    	position: relative;
		    }


		    .project-slider {
		    	z-index: 1;

		    	font-size: 1.5em;

		    	height: 15vw;
		    	margin-top: 10vw;

		    	color: #ecf0f1;
		    	background-color: rgba(44, 62, 80, .5);

		    	-webkit-transition: margin-top 0.5s ease;
			    -moz-transition: margin-top 0.5s ease;
			    -o-transition: margin-top 0.5s ease;
			    transition: margin-top 0.5s ease;
		    }

		    .project-title {
		    	height: 2vw;
		    	width: 15vw;

		    	font-size: 1.8vw;
		    	text-align: center;
		    	padding-top: 1.5vw;
		    	padding-bottom: 1.5vw;

		    	float: left;
		    	font-family:"Roboto-Light";
		    }

		    .project-text {
		    	height: 6vw;

		    	font-size: 1.4vw;
		    	width: 13vw;
		    	padding: 1vw;
		    	padding-bottom: 0vw;
		    	float: left;

		    	text-align: justify;
		    	background-color: rgba(44, 62, 80, .1);

		    	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,2c3e50+28,2c3e50+28&0+0,1+100 */
			background: -moz-linear-gradient(top,  rgba(174,188,191,0) 0%, rgba(44,62,80,0.28) 28%, rgba(44,62,80,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(174,188,191,0) 0%,rgba(44,62,80,0.28) 28%,rgba(44,62,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(174,188,191,0) 0%,rgba(44,62,80,0.28) 28%,rgba(44,62,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aebcbf', endColorstr='#2c3e50',GradientType=0 ); /* IE6-9 */

		    }

		    .project-button {
		    	background-color: red;

		    	float: left;

		    	text-align: center;
		    	width: 15vw;
		    	height: 15vw;
		    	font-family:"Roboto-Light";

		    	line-height: 3vw;
		    	vertical-align: middle;

		    	text-decoration: none;
		    	position: relative;

		    	background-color: rgba(44, 62, 80, 1);
		    	color: #ecf0f1;

		    	font-size: 1.5vw;
		    }

		    .team-cont {
		    	width: 64vw;
		    	height: 20vw;
		    	margin-left: 18vw;
		    	margin-right: 18vw;

		    	overflow:auto;

		    	outline: solid #2c3e50 1px;
		    }

		    .team-image {
		    	width: 19vw;
		    	height: 19vw;

		    	float: left;

		    	border-radius: 19vw;

		    }

		    .team-cont-cont {
		    	width: 45vw;
		    	height: 20vw;
		    	float: right;
		    }

		    .team-title {
		    	height: 1vw;
		    	width: 44vw;

		    	font-size: 2vw;
		    	text-align: left;
		    	padding-top: .5vw;
		    	padding-bottom: 2vw;

		    	float: left;
		    	font-family:"Roboto-Light";
		    }

		    .team-details {
		    	height: 10vw;
		    	width: 44vw;
		    
		    	font-size: 1.3vw;
		    	text-align: justify;
		    	
		    	float: left;
		    }

		    .team-social-cont {
		    	margin-top: .5vw;
		    	width: 44vw;
		    	height: 5vw;
		    	float: left;
		    	
		    }

		    .team-social-img {
		    	width: 3vw;
		    	height: 3vw;
		    	margin: 1vw;
		    	outline: solid #2c3e50 0px; 
		    	float: right;
		    }

		    #gallery-overlay {
		    	width: 90vw;
		    	height: 80vh;
		    	background-color: rgba(0,0,0,0.8);
		    	//border-radius: 10px;
		    	position: fixed;
		    	top: 10vh;
		    	left: 5vw;

		    	-webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
				box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.75);
				
			visibility: hidden;
		    }

		    .gallery-close {
		    	float: right;

		    	background-color: #ecf0f1;
		    	padding: 10px;

		    	margin-right: 10px;
		    	margin-top: 10px;

		    	height: 10px;
		    	width: 10px;
		    	text-align: center;

		    	line-height: 10px;
		    	vertical-align: middle;

		    	cursor: pointer;
		    }
