#page-logo {
	width: 10vw;
	margin-left: 45vw;

	margin-top: 20vh;
}

#page-head {
	margin: 0;
	padding: 0;

	width: 60vw;
	height: 13vh;
	font-size: 9vw;
	margin-left: 20vw;
	margin-top: 1vw;
	margin-bottom: 2vw;
	text-align: center;
}

#page-nav {
	width: 30vw;
	margin-left: 35vw;
	height: 5vh;
	margin-bottom: 45vh;
}
#page-nav li {
	font-size: 2vw;
	width: 6vw;
	text-align: center;
	padding: 0;
}
.page-nav-seperator {
	width: 1vw;
	padding: 0;
}

.container{
    height: 30vh;
    padding-top: 20vh;
    margin-bottom: 15vh;
    text-align:center;
    font-size: 5vw;
}

#about-head {
	text-align: left;
	font-size: 3.4vw;
	width: 60vw;
	margin-bottom: 2vh;
	margin-left: 20vw;
	padding: 0;
}

#about-paragraph {
	font-size: 1.9vw;
	width: 60vw;
	margin: 0;
	margin-left: 20.2vw;
	padding-left: 1vw;
	margin-bottom: 15vw;
	border-left: 1px black solid;
}