body {
	margin: 0;
	padding: 0;

	overflow-y: scroll;
	overflow-x: hidden;
}

@font-face {
    font-family: BasicTitle;
    src: url(../font/basictitlefont.ttf);
}

@font-face {
    font-family: Champ;
    src: url(../font/champ.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(../font/JosefinSans.ttf);
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255,255,255,0.6);
    overflow: hidden;
    z-index: 10;
    display: none;
}

    #overlay-image {
        height: 80vh;
        margin-top: 10vh;
        display: block;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .stop-scrolling {
          height: 100%;
          overflow: hidden;
        }

#about{
    background-image:url(../img/waves.jpg);
    background-position:center;
    background-size: cover;
}
#design{
    background-image:url(../img/clouds.jpg);
    background-position:center;
    background-size: cover;
}
#contact{
    background-image:url(../img/trees.jpg);
    background-position:center;
    background-size: cover;
}
#portfolio{
    background-image:url(../img/trees.jpg);
    background-position:center;
    background-size: cover;
}

#page-head {
	font-family: BasicTitle;
}

#page-nav {
	display: block;
}
#page-nav li {
	display: inline;
	float: left;

	font-family: Champ;
}
#page-nav a {
	display: block;
}

#page-nav a:link {
	text-decoration: none;
	color: rgb(0,0,0);
}

#page-nav a:visited {
	text-decoration: none;
	color: rgb(0,0,0);
}

.container{
    color:rgba(255,255,255,0.6);

    font-family: Champ;
}

#about-head {
	font-family: BasicTitle;
}

#about-paragraph {
	font-family: Josefin;
}

/* UPDATE */

#design-grid {
    outline: 1px black solid;
    overflow: hidden;
}
    
    .design-column {
        float: left;
    }

    .design-item {
        width: 20vw;
        height: auto;
        margin-bottom: 2vw;
        //outline: 1px black solid;
        
    }

.contact-container {
    margin-left: 20vw;
    margin-bottom: 5vh;
    width: 60vw;
    height:20vh;

    text-align: center;
    color: black;
    line-height: 20vh;
    font-family: Champ;
}

    #facebook {
        background-color: rgba(59,89,152,1);
    }

    #twitter {
        background-color: rgba(0,172,237,1);
    }

/* PORTFOLIO CSS */

#outer {
    width: 80vw;
    height: 90vh;

    /* visuals only */
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;


    transition: width .1s linear;

    border: 1px solid #000;
}

.inner {
    width: 19.9vw;
    height: 90vh;

    float: left;

    /* visuals only */
    transition: width .1s linear;

    background-size: 100vh;
    background-blend-mode: screen;
    background-position: center;

    text-align: center;
    vertical-align: middle;
    line-height: 20vh;

    font-family: BasicTitle;
    
    font-size: 4em;
    font-weight: 100;

    color: #000;

    overflow: hidden;

    border-left: 1px solid #000;
}

    #outer:hover .inner{
        width: 13.2vw;
        background-color: rgba(0,0,0,0.04);
    }

    .inner:hover {
        width: 40vw !important;
        background-color: rgba(255,255,255,1) !important;
    }

    .inner:first-child {
        border-left: 0px solid black;
    }

    .inner span{
        margin-top: 10vh;
        display: block;
        line-height: 10vh;
    }

    .inner p {
        line-height: 20px;
        font-family: Josefin;
        font-size: 12pt;
        height: auto;

        padding: 10px 20px;
    }

    .inner a {
        text-decoration: none;
        color: #000;
        border:1px solid #000;

        font-size: 20px;
        padding: 10px 20px; 
        font-family: Josefin;
    }

    .inner a:hover {
        background-color: #000;
        color: #fff;
    }

    .inner img {
        height: 50vh;
        margin-left: 30%;
        display: block;
    }

    .inner .center {
        height: 50vh;
        /*background-color: rgba(0,0,0,0.4);*/

        background-position: center;
        background-size: cover;
    }
/* visuals only */

#one {

    background-image: url('img/roadside.jpg');
}

#two {

    background-image: url('img/snowmount.jpg');
}

#thr {

    background-image: url('img/snowtree.jpg');
}

#BMW {
    background-image: url('../img/sites/bmw-showcase.png');
}