body {
	margin: 0;
	padding: 0;

	overflow-y: scroll;
	overflow-x: hidden;
}

@font-face {
    font-family: BasicTitle;
    src: url(../font/basictitlefont.ttf);
}

@font-face {
    font-family: Champ;
    src: url(../font/champ.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(../font/JosefinSans.ttf);
}

#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255,255,255,0.6);
    overflow: hidden;
    z-index: 10;
    display: none;
}

    #overlay-image {
        height: 80vh;
        margin-top: 10vh;
        display: block;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .stop-scrolling {
          height: 100%;
          overflow: hidden;
        }

#about{
    background-image:url(../img/waves.jpg);
    background-position:center;
    background-size: cover;
}
#design{
    background-image:url(../img/clouds.jpg);
    background-position:center;
    background-size: cover;
}
#contact{
    background-image:url(../img/trees.jpg);
    background-position:center;
    background-size: cover;
}

#page-head {
	font-family: BasicTitle;
}

#page-nav {
	display: block;
}
#page-nav li {
	display: inline;
	float: left;

	font-family: Champ;
}
#page-nav a {
	display: block;
}

#page-nav a:link {
	text-decoration: none;
	color: rgb(0,0,0);
}

#page-nav a:visited {
	text-decoration: none;
	color: rgb(0,0,0);
}

.container{
    color:rgba(255,255,255,0.6);

    font-family: Champ;
}

#about-head {
	font-family: BasicTitle;
}

#about-paragraph {
	font-family: Josefin;
}

/* UPDATE */

#design-grid {
    outline: 1px black solid;
    overflow: hidden;
}
    
    .design-column {
        float: left;
    }

    .design-item {
        width: 20vw;
        height: auto;
        margin-bottom: 2vw;
        //outline: 1px black solid;
        
    }