#page-logo {
	width: 40vw;
	margin-left: 30vw;

	margin-top: 20vh;
}

#page-head {
	margin: 0;
	padding: 0;

	width: 80vw;
	height: 8vh;
	font-size: 10vw;
	margin-left: 10vw;
	margin-top: 4vw;
	text-align: center;
}

#page-nav {
	width: 100vw;
	margin-left: 0vw;
	height: 10vh;
	margin-bottom: 45vh;
}
#page-nav li {
	font-size: 8vw;
	width: 100vw;
	text-align: center;
	padding: 0;
}
.page-nav-seperator {
	visibility: hidden;
	height: 0;
}

.container{
    height: 30vh;
    padding-top: 20vh;
    margin-bottom: 15vh;
    text-align:center;
    font-size: 19vw;
}

#about-head {
	text-align: left;
	font-size: 8vw;
	width: 80vw;
	margin-bottom: 2vh;
	margin-left: 10vw;
	padding: 0;
}

#about-paragraph {
	font-size: 4vw;
	width: 80vw;
	margin: 0;
	margin-left: 10.2vw;
	padding-left: 2vw;
	margin-bottom: 30vw;
	border-left: 1px black solid;
}

#design-grid {
    width: 84vw;
    margin-left: 4vw;

    padding: 1vw;
    outline: 1px black solid;

    margin-bottom: 10vw;
    overflow: hidden;
}
    
    .design-column {
	    width: 80vw;
    }

    .design-item {
        width:	84vw;
        height: auto;
        margin-bottom: 2vw;
    }