#nightmode {
			   position:fixed;
			   top:0;
			   right:0;

			   z-index: 100;

			   width: 20px;
			   height: 20px;

			   margin-right: 10px;
			   margin-top: 10px;

			   padding: 10px;
			   background-color: #2c3e50;
			   border-radius: 5px;
		    }

		    #nightmode:hover { 
		    	cursor: pointer; 
		    	opacity: 0.9;
		    }

			.backgroundC {
		    	-webkit-transition: all 0.5s ease;
			    -moz-transition: all 0.5s ease;
			    -o-transition: all 0.5s ease;
			    transition: all 0.5s ease;
		    }

		    .backgroundNight {
		    	background-color: #2c3e50;

		    	-webkit-transition: all 0.5s ease;
			    -moz-transition: all 0.5s ease;
			    -o-transition: all 0.5s ease;
			    transition: all 0.5s ease;
		    }

		    .foregroundC {
		    	-webkit-transition: all 0.5s ease;
			    -moz-transition: all 0.5s ease;
			    -o-transition: all 0.5s ease;
			    transition: all 0.5s ease;
		    }

		    .foregroundNight {
		    	color: #ecf0f1;
		    	border-color: #ecf0f1;
		    	outline-color: #ecf0f1;
		    	
		    	-webkit-transition: all 0.5s ease;
			    -moz-transition: all 0.5s ease;
			    -o-transition: all 0.5s ease;
			    transition: all 0.5s ease;
		    }

		    .foregroundC:link {
	            color: #2c3e50;
	            text-decoration: none;
	        }
	        .foregroundC:visited {
	            color: #2c3e50;
	            text-decoration: none;
	        }

		    .foregroundNight:link {
	            color: #ecf0f1;
	            text-decoration: none;
	        }
	        .foregroundNight:visited {
	            color: #ecf0f1;
	            text-decoration: none;
	        }