body {
	margin: 0;
	background-color: #363636;

	font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #fff;
}

#outer {
	width: 90vw;
	height: 40vh;

	/* visuals only */
	margin-left: 5vw;
	margin-top: 30vh;
	margin-bottom: 31vh;

	border-radius: 20px;

	transition: width .1s linear;

	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
}

.inner {
	width: 30vw;
	height: 40vh;

	float: left;

	/* visuals only */
	transition: width .1s linear;

	background-size: 100vh;
	background-blend-mode: screen;
	background-position: center;

	text-align: center;
	vertical-align: middle;
	line-height: 40vh;

	font-size: 4em;
	font-weight: 100;

	color: #fff;
}

	#outer:hover .inner{
		width: 20vw;
	}

	.inner:hover {
		width: 50vw !important;
	}

/* visuals only */

#one {
	background-color: #c73f45;

	border-radius: 20px 0 0 20px; 

	background-image: url('img/roadside.jpg');
}

#two {
	background-color: #10ffa3;

	background-image: url('img/snowmount.jpg');
}

#thr {
	background-color: #009fff;

	border-radius: 0 20px 20px 0;

	background-image: url('img/snowtree.jpg');
}

#rationale {
	margin-top: 10vh;
	width: 50vw;
	margin-left: 21vw;
	padding: 4vw;
	margin-bottom: 40vh;
	outline: 1px solid #fff;
	border-radius: 20px;
	font-size: 2em;
}

#rationale p {
	font-size: .6em;
}

#credits {
	margin-top: 10vh;
	width: 50vw;
	margin-left: 21vw;
	padding: 4vw;
	margin-bottom: 10vh;
	padding-bottom: 15vh;
	outline: 1px solid #fff;
	border-radius: 20px;
	font-size: 2em;
}

#credits a {
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;

	margin-left: 4vw;
}