* {
	box-sizing: border-box;
	font-family: 'Roboto';
}

body {
	margin: 0;
	padding: 0;
	background-color: #e5e8ee;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f7f7f7;
}

#navbar li {
	float: left;
	text-transform: uppercase;
}

#navbar li:last-child {
	float: right;
	border-left: 1px solid #d4d9dd;
	box-shadow: 1px 0 0 #fff inset;
}

#navbar li:last-child a {
	background-color: #ffebef;
	color: #ff4f72;
	margin: 14px 40px;
}

#navbar li:last-child a:hover {
	background-color: #ff4f72;
	color: #fff;
}

#navbar li:first-child {
	border-right: 1px solid #d4d9dd;
	box-shadow: -1px 0 0 #fff inset;
}

#navbar li:nth-child(2) a {
	margin-left: 60px;
}

#navbar li a {
	display: block;
	color: #44474f;
	text-align: center;
	padding: 10px 16px 8px 16px;
	border-radius: 100px;
	margin: 14px 16px;
	text-decoration: none;
}

#navbar li a#selected {
	/*background-color: #e7e7f2;*/
    box-shadow: inset 0 0 0px 2px rgba(68, 71, 79, 0.2);

}

#navbar li a:hover {
	background-color: #e7e7f2;
}





#content {
	width: 80vw;
	margin-left: 10vw;
}

#content-left {
	width: 40vw;
	float: left;
}

#content-right {
	width: 40vw;
	float: right;
}



#accounts ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #f7f7f7;*/

}

#accounts li {
	/*float: left;*/
	text-transform: uppercase;
	background-color: #f7f7f7;

	width: 38vw;

	padding: 20px 20px 18px 30px;

	margin-bottom: 20px;

	transition: all 0.08s linear;

	border: 0px solid #34495e;
}

#accounts li:hover {
	border: 5px solid #34495e;

	padding: 15px 15px 13px 25px;

	transition: all 0.08s linear;

	cursor: pointer;
}

.account-info {
	width: 29vw;
	display: inline-block;
}

.account-control {
	width: 7vw;
	display: inline-block;
	vertical-align: top;

	margin-top: 20px;
}

.account-control a {
	display: block;
	color: #44474f;
	text-align: center;

	padding: 10px 20px;
	border-radius: 100px;
	text-decoration: none;
	background-color: #e7e7f2;

}

#accounts li h6 {
	margin: 0;
	padding: 0;
}

#accounts li h2 {
	margin: 0;
	padding: 0;

	font-size: 2em;
}

#accounts li h3 {
	margin: 0;
	padding: 0;
}

#account-detail {
	width: 40vw;
	height: 40vh;

	background-color: #fff;

	padding: 20px 20px 18px 30px;
}

#account-detail h6 {
	margin: 0;
	padding: 0;

	text-transform: uppercase;
}

#account-detail h2 {
	margin: 0;
	padding: 0;

	font-size: 2em;
	text-transform: uppercase;
}

#account-detail h3 {
	margin: 0;
	padding: 0;
}