body {
    font-family: 'Roboto-Thin', Segoe UI;
    margin: 0;
    background-color: #008080;
    color: rgba(0, 0, 0, 1);
    /*background-image: url('../img/background.jpg');*/
    background-size: cover;
    background-position: bottom bottom;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

img {
    image-rendering: pixelated;
}

span {
    cursor: default;
}

#shutdown {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: #000;

	display: none;
}