body {
    font-family: 'Roboto-Thin', Segoe UI;
    margin: 0;
    background-color: #008080;
    color: rgba(0, 0, 0, 1);
    /*background-image: url('../img/background.jpg');*/
    background-size: cover;
    background-position: bottom bottom;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

img {
    image-rendering: pixelated;
}

span {
    cursor: default;
}


/* TASKBAR STYLING */

#taskbar {
    height: 29px;
    background-color: #c0c0c0;
    border-top: #fff solid 1px;
    box-shadow: 0px -1px 0px 0px rgba(223, 223, 223, 1);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#taskbar-windows {
    height: 23px;
    margin-top: 2px;
    margin-left: 4px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0;
    width: 60px;
    display: inline-block;
    cursor: pointer;
    background-color: #c0c0c0;
}

.taskbar-windows-inset {
    border-top: 2px solid #000  !important;
    border-left: 2px solid #000 !important;
    border-bottom: 2px solid #fff !important;
    border-right: 2px solid #fff !important;
}

#taskbar-windows:hover #taskbar-start {
    border: 1px dotted #000;
}

#taskbar-start {
    padding: 0px;
    width: 58px;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
}

#taskbar-control {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    /*width: 20%;*/
    float: right;
    padding: 0px 10px 0px 10px;
    margin-right: 2px;
    margin-top: 2px;
    height: 22px;
}


/* WINDOW STYLING */

.resp-border {
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-top: 1px solid #d3cfc7;
    border-left: 1px solid #d3cfc7;
    width: 240px;
    height: 200px;
    min-width: 240px;
    left: 46px;
    top: 50px;
}

.resp-inner {
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #fefefe;
    border-left: 1px solid #fefefe;
    background-color: #d3cfc7;
    padding: 2px;
    height: 194px;
}

.resp-head {
    background-color: #000080;
    background: #000080;
    /* Old browsers */
    background: -moz-linear-gradient(left, #000080 0%, #1084d0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #000080 0%, #1084d0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #000080 0%, #1084d0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#1084d0', GradientType=1);
    /* IE6-9 */
    margin-bottom: 3px;
    padding-bottom: 0;
    height: 19px;
}

.resp-head img {
    display: inline;
    padding-left: 2px;
    image-rendering: pixelated;
    padding-bottom: 1px;
    padding-top: 1px;
    -webkit-transform: translate(0, -3px);
    cursor: pointer;
}

.resp-head span {
    padding: 0;
    margin: 0;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 22px;
    -webkit-transform: translate(0, -3px);
    overflow: hidden;
    cursor: default;
}

.rasp-tools {
    display: inline-block;
    float: right;
}

.rasp-tools img:first-child {
    margin-left: 2px;
    margin-right: 2px;
}

.rasp-tools img {
    display: inline-block;
    float: right;
    padding: 0px;
    padding-top: 6px;
    margin: 0px;
}

.resp-body {
    /*box-shadow: inset 0px 0px 0px 1px rgba(64,64,64,1);*/
    outline: 1px solid #808080;
    border: 1px solid rgba(64, 64, 64, 1);
    background-color: #fff;
    padding-left: 5px;
    /*max-height: 200px;*/
    height: 170px;
    overflow: scroll;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
    z-index: 0 !important;
}

#taskbar-menu {
    height: 300px;
    width: auto;
    position: absolute;
    bottom: 27px;
    left: 3px;
    background-color: #c3c7cb;
    z-index: 100;
    border-right: #000 2px solid;
    border-bottom: #000 1px solid;
    border-left: #c3c7cb 1px solid;
    border-top: #c3c7cb 1px solid;

    display: none;
}

#taskbar-menu-inner {
    border-left: 1px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #868a8e;
    border-right: 1px solid #868a8e;
    height: 296px;
}

#taskbar-menu-left > span {
    position: absolute;
    bottom: 70px;
    left: -60px;
    font-size: 28px;
    -webkit-transform: rotate(-90deg);
    color: #c3c7cb;
    font-weight: 900;
}

#taskbar-menu-left > span > span {
    font-weight: 100;
    color: #fff;
}

#taskbar-menu-left {
    height: 296px;
    background-color: #868a8e;
    width: 36px;
    display: inline-block;
    float: left;
}

#taskbar-menu-inner > ul {
    margin-top: 0;
    position: relative;
    height: 100%;
    padding-left: 36px;
}

#taskbar-menu-inner > ul > li {
    height: 30px;
    width: 160px;
    padding: 4px 10px;
    padding-right: 20px;
    list-style: none;
    position: relative;
}

#taskbar-menu-inner > ul > li > ul {
    position: absolute;
    top: -3px;
    left: 100%;
    background-color: #c3c7cb;
    padding: 0;
    border-top: 1px #dfd8df solid;
    border-left: 1px #dfd8df solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
    display: none;
}

#taskbar-menu-inner > ul > li > ul > div > li > ul {
    position: absolute;
    top: -2px;
    left: 100%;
    background-color: #c3c7cb;
    padding: 0;
    border-top: 1px #dfd8df solid;
    border-left: 1px #dfd8df solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
    display: none;
}

#taskbar-menu-inner > ul > li > ul > div > li {
    height: 20px;
    width: 160px;
    padding: 4px 10px;
    padding-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #000;
    position: relative;
}

#taskbar-menu-inner > ul > li > ul > div > li > ul > div > li {
    height: 20px;
    width: 160px;
    padding: 4px 10px;
    padding-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #000;
    position: relative;
}

#taskbar-menu-inner > ul > li > ul > div > li:hover {
    background-color: #010080;
    color: #fff;
}

#taskbar-menu-inner > ul > li > ul > div > li > ul > div >li:hover {
    background-color: #010080;
    color: #fff;
}

#taskbar-menu-inner > ul > li > ul > div > li > span {
    vertical-align: top;
    line-height: 20px;
    padding-left: 6px;
}

.menu-small-inner {
    border-top: 1px #fff solid;
    border-left: 1px #fff solid;
    border-bottom: 1px #7f787f solid;
    border-right: 1px #7f787f solid;
}

#taskbar-menu-inner > ul > li:hover > ul {
    display: block;
}

#taskbar-menu-inner > ul > li > ul > div > li:hover > ul {
    display: block;
}

#taskbar-menu-inner > ul > li:hover {
    background-color: #010080;
    color: #fff;
}

#taskbar-menu-inner > ul > li:hover > .menu-right {
    border-left: 5px solid #fff;
}

#taskbar-menu-inner > ul > li > ul > div > li:hover > .menu-right-small {
    border-left: 5px solid #fff;
}

#taskbar-menu-inner > ul > li:last-child {
    border-top: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px -2px 0px 0px rgba(134, 138, 142, 1);
    -moz-box-shadow: 0px -2px 0px 0px rgba(134, 138, 142, 1);
    box-shadow: 0px -2px 0px 0px rgba(134, 138, 142, 1);
    position: absolute;
    bottom: 0;
}

#taskbar-menu-inner > ul > li > span {
    vertical-align: top;
    line-height: 30px;
    padding-left: 6px;
}

.menu-left {
    display: inline-block;
    height: 30px;
}

.menu-left-small {
    display: inline-block;
    height: 16px;
}

.menu-right {
    display: inline-block;
    float: right;
    height: 10px;
    position: absolute;
    right: 6px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}

.menu-right-small {
    display: inline-block;
    float: right;
    height: 10px;
    position: absolute;
    right: 6px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}
