#taskbar-menu {
    height: 300px;
    width: auto;
    position: absolute;
    bottom: 27px;
    left: 3px;
    background-color: #c3c7cb;
    z-index: 100;
    border-right: #000 2px solid;
    border-bottom: #000 1px solid;
    border-left: #c3c7cb 1px solid;
    border-top: #c3c7cb 1px solid;

    display: none;
}

#taskbar-menu-inner {
    border-left: 1px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #868a8e;
    border-right: 1px solid #868a8e;
    height: 296px;
}

#taskbar-menu-left > span {
    position: absolute;
    bottom: 70px;
    left: -60px;
    font-size: 28px;
    -webkit-transform: rotate(-90deg);
    color: #c3c7cb;
    font-weight: 900;
}

#taskbar-menu-left > span > span {
    font-weight: 100;
    color: #fff;
}

#taskbar-menu-left {
    height: 296px;
    background-color: #868a8e;
    width: 36px;
    display: inline-block;
    float: left;
}

#taskbar-menu-inner > ul {
    margin-top: 0;
    position: relative;
    height: 100%;
    padding-left: 36px;
}

#taskbar-menu-inner > ul > li {
    height: 30px;
    width: 160px;
    padding: 4px 10px;
    padding-right: 20px;
    list-style: none;
    position: relative;
}

#taskbar-menu-inner > ul > li > ul {
    position: absolute;
    top: -3px;
    left: 100%;
    background-color: #c3c7cb;
    padding: 0;
    border-top: 1px #dfd8df solid;
    border-left: 1px #dfd8df solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
    display: none;
}

#taskbar-menu-inner > ul > li > ul > div > li > ul {
    position: absolute;
    top: -2px;
    left: 100%;
    background-color: #c3c7cb;
    padding: 0;
    border-top: 1px #dfd8df solid;
    border-left: 1px #dfd8df solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
    display: none;
}

#taskbar-menu-inner > ul > li > ul > div > li {
    height: 20px;
    width: 160px;
    padding: 4px 10px;
    padding-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #000;
    position: relative;
}

#taskbar-menu-inner > ul > li > ul > div > li > ul > div > li {
    height: 20px;
    width: 160px;
    padding: 4px 10px;
    padding-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #000;
    position: relative;
}

#taskbar-menu-inner > ul > li > ul > div > li:hover {
    background-color: #010080;
    color: #fff;
}

#taskbar-menu-inner > ul > li > ul > div > li > ul > div >li:hover {
    background-color: #010080;
    color: #fff;
}

#taskbar-menu-inner > ul > li > ul > div > li > span {
    vertical-align: top;
    line-height: 20px;
    padding-left: 6px;
}

.menu-small-inner {
    border-top: 1px #fff solid;
    border-left: 1px #fff solid;
    border-bottom: 1px #7f787f solid;
    border-right: 1px #7f787f solid;
}

#taskbar-menu-inner > ul > li:hover > ul {
    display: block;
}

#taskbar-menu-inner > ul > li > ul > div > li:hover > ul {
    display: block;
}

#taskbar-menu-inner > ul > li:hover {
    background-color: #010080;
    color: #fff;
}

#taskbar-menu-inner > ul > li:hover > .menu-right {
    border-left: 5px solid #fff;
}

#taskbar-menu-inner > ul > li > ul > div > li:hover > .menu-right-small {
    border-left: 5px solid #fff;
}

#taskbar-menu-inner > ul > li:last-child {
    border-top: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px -2px 0px 0px rgba(134, 138, 142, 1);
    -moz-box-shadow: 0px -2px 0px 0px rgba(134, 138, 142, 1);
    box-shadow: 0px -2px 0px 0px rgba(134, 138, 142, 1);
    position: absolute;
    bottom: 0;
}

#taskbar-menu-inner > ul > li > span {
    vertical-align: top;
    line-height: 30px;
    padding-left: 6px;
}

.menu-left {
    display: inline-block;
    height: 30px;
}

.menu-left-small {
    display: inline-block;
    height: 16px;
}

.menu-right {
    display: inline-block;
    float: right;
    height: 10px;
    position: absolute;
    right: 6px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}

.menu-right-small {
    display: inline-block;
    float: right;
    height: 10px;
    position: absolute;
    right: 6px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}
