@font-face {
    font-family: babas;
    src: url('../font/Bebas.otf');
}

body
{
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    height: 100%;
    margin: 0;
    padding: 0;

    background: #152637;

    text-rendering: optimizelegibility;
}

.testing-space {
    height: 100vh;
    background-color: #fff;
}

nav
{
    /*background: #152637;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#152637+0,222b35+100 */
    background: rgb(21,38,55); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(21,38,55,1) 0%, rgba(34,43,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(21,38,55,1) 0%,rgba(34,43,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(21,38,55,1) 0%,rgba(34,43,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152637', endColorstr='#222b35',GradientType=1 ); /* IE6-9 */


    background-color: transparent;
    border-top: 1px solid rgba(114,124,135,.2);
    border-bottom: 1px solid rgba(114,124,135,.2);
}
.scroll
{
    overflow-x: auto;

    white-space: nowrap;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-item
{
    padding: 20px 16px 21px;
}

.nav-item
{
    font-size: 14px;

    color: #f6f7ee;
    border-right: 1px solid rgba(114,124,135,.2);
    /*background: #152637;*/
    background-color: transparent;

}

.logo,
.nav-item,
.vertical-align-middle
{
    display: inline-block;

    vertical-align: middle;
}
#warriors-landing {
    background: url('../img/team-pic.JPG') no-repeat;
   background-position: center;
   background-size: cover;

   height: 90vh;
}

#head {
    height: 10vh;
    margin-top: 30vh;
    background-image: url('../img/logo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: #152637;*/
    background-blend-mode: screen;
}

#warriors-header {
    color: rgba(255,255,255,0.88);  /* Fallback: assume this color ON TOP of image */
   
   /*-webkit-background-clip: text;
   -webkit-text-fill-color: transparent;*/

   margin-top: 0vh;
   font-size: 20vw;
   padding-top: 10px;
   font-weight: bolder;
   text-align: center;
   line-height: 18vw;

   font-family: babas;
}
