body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;

    padding: 0px;

    overflow-x: hidden;

    /*padding-bottom: 20vh;*/

    background-color: #fff;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100vw;

    height: 10vh;

    background: rgba(0, 0, 0, 0.8);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);

    overflow: hidden;

}

#navbar ul#nav-head {
    margin: 0;
    padding: 0;

}

#navbar ul#nav-head li {

    color: #fff;
    padding: 10px;

    height: 20px;
    line-height: 18px;

    float: left;

    margin-left: 20px;

    margin-top: 15px;

    border-radius: 10px;

    list-style: none;
}

#navbar ul#nav-head li#nav-toggle {
    padding: 10px;

    margin-top: 10px;

    font-size: 28px;
}

#navbar ul#nav-head li#alert {
    background: rgba(255,23,10,1);
    padding: 10px;

    height: 20px;
    line-height: 18px;

    float: right;

    margin-right: 20px;

    margin-top: 15px;

    border-radius: 10px;
}

#navbar ul#nav-body {
    margin: 0;
    padding: 0;

    margin-top: 15vh;

    color: #fff;
}

#navbar ul#nav-body li {
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;

    height: 5vh;

    margin-top: 2.5vh;

    font-weight: 300;

    font-size: 2em;

    opacity: 0;

    margin-left: -200px;

    transition: margin-left 600ms cubic-bezier(0.23, 1, 0.32, 1) ,
                opacity 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-full {
    height: 100vh !important;
    /*transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);*/
    transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

.fadeInLeft {
    opacity: 1 !important;
    margin-left: 0 !important;

    transition: margin-left 600ms cubic-bezier(0.23, 1, 0.32, 1) ,
                opacity 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

#navbar ul#nav-body li:nth-child(1){
  margin-left: 0;
  opacity: 1;
  font-weight: 700;

  /*border: 2px solid #fff;*/
}

#navbar ul#nav-body li:nth-child(2){
  transition-delay: 0s;
}
#navbar ul#nav-body li:nth-child(3){
  transition-delay: 0.05s;
}
#navbar ul#nav-body li:nth-child(4){
  transition-delay: 0.1s;
}

#content {
    padding-top: 10vh;
    height: 80vh;

    background-image: url(../img/affx-bg-2.jpg);
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

#action-cont {
    height: 10vh;
}

#action-cont a{
    display: block;

    margin-top: 8vh;
    width: 40vw;
    margin-left: 6.66vw;
    margin-right: 6.66vw;
    height: 10vh;
    /*outline: 10px solid #484848;*/
    float: left;
    /*clear: both;*/

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;

    line-height: 10vh;
    vertical-align: middle;

    font-weight: 700;

    background-color: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(100%) blur(40px);
    backdrop-filter: saturate(180%) blur(20px);

    /*border-radius: 10px;*/
}

#action-cont a:last-child {
    /*background-color: red;*/

    margin-left: 0;
}


#login-cont {
    width: 100vw;
    height: 50vh;

    margin-top: 10vh;

    background-color: rgba(0,0,0,0.8);

    border-radius: 0px;

    -webkit-backdrop-filter: saturate(100%) blur(10px);
    backdrop-filter: saturate(180%) blur(20px);

    overflow-y: scroll;

    color: #fff;
}

#login-cont input[type="text"], 
#login-cont input[type="password"] {
    border: 0;
    outline: 0;
    border-radius: 0;
    background-color: transparent;

    border-bottom: 1px solid #fff;

    width: 60vw;
    margin-left: 20vw;

    height: 7vh;

    font-size: 1.4em;
    color: #fff;
}

#login-cont input[type="button"] {
    border: 0;
    outline: 0;
    border-radius: 0;
    background-color: #fff;

    -webkit-backdrop-filter: saturate(100%) blur(10px);
    backdrop-filter: saturate(180%) blur(20px);

    /*border-bottom: 1px solid #fff;*/

    width: 50vw;
    margin-left: 25vw;

    margin-top: 2vh;

    height: 7vh;

    font-size: 1.4em;
    color: rgba(0,0,0,0.8);
}
